<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<import resource="database.xml" />
	<context:component-scan base-package="gr.uom.UoMSecretary" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>

	<bean id="lessonDAO" class="gr.uom.UoMSecretaryStruts2.dao.impl.LessonDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="lessonService"
		class="gr.uom.UoMSecretaryStruts2.service.impl.LessonServiceImpl">
		<property name="lessonDao" ref="lessonDAO" />
	</bean>

	<bean id="userDao" class="gr.uom.UoMSecretaryStruts2.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="userService" class="gr.uom.UoMSecretaryStruts2.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="userDetailsDao" class="gr.uom.UoMSecretaryStruts2.dao.impl.UserDetailsDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="userDetailsService"
		class="gr.uom.UoMSecretaryStruts2.service.impl.UserDetailsServiceImpl">
		<property name="userDetailsDao" ref="userDetailsDao" />
	</bean>

	<bean id="professorTeachesLessonsDao"
		class="gr.uom.UoMSecretaryStruts2.dao.impl.ProfessorTeachesLessonsDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="professorTeachesLessonsService"
		class="gr.uom.UoMSecretaryStruts2.service.impl.ProfessorTeachesLessonsServiceImpl">
		<property name="professorTeachesLessonsDao" ref="professorTeachesLessonsDao" />
	</bean>

	<bean id="studentEnrolledToLessonDao"
		class="gr.uom.UoMSecretaryStruts2.dao.impl.StudentEnrolledToLessonDaoImpl">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="studentEnrolledToLessonService"
		class="gr.uom.UoMSecretaryStruts2.service.impl.StudentEnrolledToLessonServiceImpl">
		<property name="studentEnrolledToLessonDao" ref="studentEnrolledToLessonDao" />
	</bean>

	<!-- Struts 2 Actions -->
	<bean id="homeAction" class="gr.uom.UoMSecretaryStruts2.action.HomeAction">
		<property name="lessonService" ref="lessonService" />
		<property name="userDetailsService" ref="userDetailsService" />
	</bean>

	<bean id="secretaryAction" class="gr.uom.UoMSecretaryStruts2.action.SecretaryAction">
		<property name="lessonService" ref="lessonService" />
		<property name="userDetailsService" ref="userDetailsService" />
		<property name="userService" ref="userService" />
		<property name="professorTeachesLessonsService" ref="professorTeachesLessonsService" />
	</bean>

</beans>
